<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Example
  body

    //- define mixins
    mixin slider(index)
      .slider
        div.slider__element(id="js-range-slider-" + index)
        div.slider__configuration-panel(id="js-configuration-panel-" + index)
          +checkbox("vertical")
          .slider__configuration-panel__inputs
            +input("value#1")
            +input("value#2")

    mixin checkbox(name)
      +label(name)
        input(type="checkbox", name=name, class="js-checkbox-" + name)

    mixin input(name)
      +label(name)
        input(type="text", name=name, class="js-input-" + name)

    mixin label(name)
      label.label
        | #{name}:
        block


    each index in [1, 2, 3, 4, 5]
      +slider(index)

    script(
      crossorigin='anonymous',
      integrity='sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=',
      src='https://code.jquery.com/jquery-3.5.1.slim.min.js'
    )
