<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Example
  body

    mixin slider(index)
      .container
        div(id="js-range-slider-id-" + index)
        div(id="js-configuration-id-" + index).configuration
          .configuration__tool
            label(for='value-left')= 'left value:'
            input(type='text', id='value-left-' + index, size=2).configuration__value-left
          .configuration__tool
            label(for='value-right')= 'right value:'
            input(type='text', id='value-right-' + index, size=2).configuration__value-right
          .configuration__tool
            label(for='min')= 'min:'
            input(type='text', id='min-' + index, size=2).configuration__min
          .configuration__tool
            label(for='max')= 'max:'
            input(type='text', id='max-' + index, size=2).configuration__max
          .configuration__tool
            label(for='step')= 'step:'
            input(type='text', id='step-' + index, size=2).configuration__step
          .configuration__tool
            label(for='orient')= 'vertical:'
            input(type='checkbox', id='orient-' + index).configuration__orient
          .configuration__tool
            label(for='marker-visibility')= 'MARKER:'
            input(type='checkbox', id='marker-visibility-' + index).configuration__marker-visibility
          .configuration__tool
            label(for='interval-mode')= 'INTERVAL:'
            input(type='checkbox', id='interval-mode-' + index).configuration__interval-mode
          .configuration__tool
            label(for='track-scale-visibility')= 'TRACK SCALE:'
            input(type='checkbox', id='track-scale-visibility-' + index).configuration__track-scale-visibility
          .configuration__tool
            label(for='prefix')= 'PREFIX:'
            input(type='text', id='prefix-' + index, size=4).configuration__prefix

    each index in [1, 2, 3, 4, 5]
      +slider(index)
